<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Types of Burger</title>
</head>
<body>
    <h2>Types of Burger</h2>
    <br>
    <h3>Hamburger</h3>
    <p>The original and for many still the best. So good, in fact, that René Redzepi, of Copenhagen's Noma, the number
        one restaurant on the World's 50 Best Restaurants list, has committed fully to his own pandemic era-inspired
        burger joint Popl. The history of the hamburger is contested, and some say it goes back to ancient Rome, but one
        theory about the invention of the modern hamburger is that it can be ascribed to Charlie Nagreen, later known as
        'Hamburger Charlie', who in 1885 squashed a beef meatball between slices of bread so his customers could walk
        around eating.</p>
    <h3>Turkey Burger</h3>
    <p>Probably inspired by one of the greatest sandwiches of all time - the leftover turkey sandwich - this is a burger
        that might not be everyone's first choice, but should definitely be one all burger lovers get to know. Turkey is
        a delicious, tasty and dry meat that is packed full of flavour, making it a perfect alternative to red meat for
        a burger patty. Try this recipe and never look back.</p>
    <h3>Portbello Mushroom Burger</h3>
    <p>Substituting the meat patty for a delicious, meaty, umami-packed grilled portobello mushroom will give you a
        vegan burger that will satisfy even the hungriest carnivore. Add mango and beansprouts for a fresh contrast of
        texture and flavour. </p>
</body>
</html>